@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

body {
  padding: 1rem 0;
  font-family: 'Roboto', serif;
  color: theme('colors.gunmetal.300');
}

h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 55px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 42px;
}

h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37.5px;
}

.text-field {
  padding: 0.75rem 1rem;
  border: 1px solid theme('colors.gray.200');
  color: theme('colors.gray.300');
  outline: none;
  border-radius: 10px;
  transition: all 0.2s ease;

  &::placeholder {
    color: theme('colors.gray.300');
  }

  &:hover,
  &:focus {
    border-color: theme('colors.gunmetal.200');

    &::placeholder {
      color: theme('colors.gunmetal.200');
    }
  }
}